@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

/* variables */
:root {
  --primary-color: #4386bf;
  --secondary-color: #121212;
  --tertiary-color: #fafafa;
  --quaternary-color: #e8e8e8;
  --montserrat: 'Montserrat', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;
}

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  margin: 0;
}

.categories-container button {
  font-family: var(--roboto-slab);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #0290ff;
  width: 15rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  margin: 1rem;
  cursor: pointer;
}
