@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

/* variables */
:root {
  --primary-color: #4386bf;
  --secondary-color: #121212;
  --tertiary-color: #fafafa;
  --quaternary-color: #e8e8e8;
  --montserrat: 'Montserrat', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  border-bottom: solid 1px #e8e8e8;
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0;
}

.nav-title {
  display: flex;
  font-family: var(--montserrat);
  font-size: 1.875rem;
  font-weight: 800;
  font-weight: bold;
  color: #0290ff;
  text-align: justify;
  min-width: 16rem;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  font-family: var(--montserrat);
  font-size: 0.9rem;
  letter-spacing: 1.9px;
  text-decoration: none;
  color: #121212;
  padding: 0.5rem;
}

.nav-item a {
  color: #121212;
  text-decoration: none;
}

.nav-item-categories a {
  font-family: var(--montserrat);
  font-size: 0.9rem;
  opacity: 0.5;
  color: #121212;
  text-decoration: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  background-color: #fff;
  color: #0290ff;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  min-width: 2.813rem;
  min-height: 2.813rem;
  cursor: pointer;
}
